body {
  text-align: justify;
}
nav{
  background-color: steelblue;
  padding: 10px;
}
a {
  color: white;
  margin: 40px;
}
h1 {
  color: steelblue;
}
img {
  width: 80%;
}

p {
  width: 80%
}
footer {
  background-color: steelblue;
  color: white;
}