.home-title {
  color: black;
}

h4 {
  color: black;
}

body {
    background-color: #e76915; 
}

div {
  max-width: 1600px;
  background-color: #faece1;
}

#content {
  margin: 0 auto;
}

header {
    background-color:#f5b88f;
}

nav a {
  text-align: center;
  color: black;
  text-decoration: none;
}

nav a:hover {
    background-color: #e76915;
    color: black;
}

.book, .join {
  text-align: center;
  background-color: #e76915;
  color: black;
  text-decoration: none;
}

.book:hover, .join:hover {
  color: black;
}

#hero-msg h1 {
  text-align: center;
}

#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
  color: black;
  background-color: #f5b88f;
}

.logo {
  width: 80px;
}

.icon {
  width: 80px;
}

#hero-img {
  width: 100%;
}

.card-img {
  width: 500px;
}

.mountains {
  width: 725px;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #f5b88f;
}

.msg {
  background-color: #f5b88f;
}

.msg h2{
  background-color: #f5b88f;
  color: black;
}

.msg p {
  color: black;
}

footer {
  background-color: #f5b88f;
  color: black;
}

footer p {
  font-size: 1.2em;
  color: black;
}
footer p a:hover {
  text-decoration: underline;
}

footer a {
  text-align: center;
  color: black;
  text-decoration: none;
}

footer a:hover {
  background-color: #fcfbfb;
  color: black;
}

footer img {
  width: 80px;
}