body {
  text-align: center;
}

h1 {
  color: Black;
  background-color: rgb(217, 235, 217);
}
h2 {
  color: Black;
  background-color: rgb(217, 235, 217);
}
img {
  width: 300px;
  border: 4px solid green;
}

p {
  background-color: rgb(217, 235, 217);
  color: Black;
  padding: 10px;
}
