body {
  background: lightblue;
}
h1 {
  color: white;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif ;
}
h1:hover {
  color: black;
}
h2 {
  color: whitesmoke;
  text-align: justify;
}

h3 {
  color: black;
  text-align: left;
}

main img {
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

main p {
  color: white;
  text-align: center;
}

footer {
  color: black;
  text-align: center;
  font-size: 12px;
}